<div class="container">

    <h1>Añade una nueva cafetería/librería</h1>

    <hr>

    <form method="POST" action="/lugares/crear">

        <label>Nombre
            <input name="name" type="text">
        </label>
        <br><br>

        <label>Tipo de lugar
            <input name="type" type="text">
        </label>
        <br><br>


        <label>Localización
            <input name="type" type="text">
        </label>
        <br><br>

        <button type="submit">Crear lugar</button>

    </form>

</div>